.main{
    margin: 40px 120px;
    overflow: hidden;
}
.head{
    background-color: antiquewhite;
    margin: auto;
    overflow: hidden;
}
.photo{
    float: left;
}
.photo img{
    height: 400px;
    width: 300px;
    margin: 10px;
}
.link{
    float: right;
}
.linkbtn{
    margin: 10px;
    padding: 10px;
    border: none;
    background-color: darkgray;
    border-radius: 8px;
    font-family: Microsoft Sans Serif;
    font-size: 22px;
    color: white;
}
.linkbtn:hover{
    background-color: black;
    cursor: pointer;
}